<!--MENU BAR-->
<nav class="snt-navbar navbar navbar-expand-lg navbar-dark fixed-top" ng-controller="MenuController as menu">
			
  <a class="snt-event-o-mate-logo navbar-brand" href="#/">Event-O-Mate</a>	
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="snt-create-event-menu-button nav-link" ng-href="#/create_event" href>Create event</a>
      </li>

      <li class="nav-item">
        <a class="nav-link register-button" ng-hide="menu.security.userValid" ng-click="menu.toggleRegister()" href> Register</a>
      </li>

      <li class="nav-item">
        <a class="nav-link dashboard-button" ng-show="menu.security.userValid" ng-href="#/dashboard"> Dashboard</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link login-button" ng-hide="menu.security.userValid" ng-click="menu.toggleLogin()" href> Log In</a>
      </li>

      <li class="nav-item">
        <a class="nav-link logout-button" ng-show="menu.security.userValid" ng-click="menu.logout()" href>Log Out </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ng-show="menu.security.userValid" ng-click="menu.openProfile()"><img class="snt-profile-icon" gravatar-src="menu.security.userEmail()" gravatar-size="100" src="img/user-placeholder.png"></a>
      </li>
    </ul>
  </div>

</nav>